html {
  font-family: 'Open Sans', sans-serif;
  background-color:#558C89;
}

th {
	float:left;
	color:black;
}

input[type=submit] {
	background-color:#D9853B;
}
input[type=radio] {
		display:none;
	}

input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: #D9853B;
    border-color: #ddd;
    width:100%;

}

input[type=radio]:checked + label{
   background-image: none;
    background-color:#2f4f4f;
    width:100%;
}