html {
  font-family: 'Open Sans', sans-serif;
  background-color:#558C89;
}

#main-header, #sub-header {
  text-align: center;
}

#game-field {
  width: 80%;
  height: 500px;
  margin: 30px auto;
  background-color: #ECECEA;
  border-radius: 10px;
  border: 5px;
}

.initial-state {
  background: url("../element_img.png") center;
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-size:contain;
}

.selected-state {
  background:url("../selected_element.png") center;
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-size:contain;
}

#game-start {
  background:#D9853B;
}